$dark-color:  #5a1d1af5;
$light-color: #eee6e6;
$light-transparent: #eee6e691;

.navigation {
  display: flex;
  margin-bottom: 10px;
  flex-direction: column;
  justify-content: center;
  height: 9vh;
  background-image: url(../../backgrounds/GdanskStarowka.jpg);
  background-position: 0 -175px;
}

.list {
  display: flex;
  justify-content: space-evenly;
  background-color: $dark-color;

  &__link {
    font-size: 26px;
    text-decoration: none;
    text-transform: uppercase;
  }
}

.page {
  border: 0 solid transparent;
}

.content {
  height: 100vh;
  background-color: $light-color;
}
