$dark-color:  #5a1d1af5;
$light-color: #eee6e6;

.library {
  margin: auto;
  width: 44vw;
  background-color: $dark-color;
  border: 1px solid transparent;
  border-radius: 0 0 50px 50px;
  overflow: hidden;

  &__element {
    margin-bottom: 6vh;
    padding: 2vh;
    background-color: $dark-color;
    text-align: center;
    list-style-type: none;

    &:first-child {
      margin-top: 6vh;
    }
  }
}

.breadcrumbs {
  background-color: $dark-color;

  &__container {
    margin: auto;
    padding: 1vh 2vh;
    display: flex;
    width: 44vw;
    align-items: center;
  }

  &__container * {
    height: 8vh;
    font-size: 16px;
    line-height: 16px;
    text-decoration: none;
    cursor: pointer;
  }
}

.itemLink {
  display: block;
  font-size: 24px;
  color: $light-color;
  text-decoration: none;
}

.title {
  margin: 5vh 0;
  padding: 15px;
  text-align: center;

  &--small {
    margin: 0;
  }
}

.download-link {
  width: fit-content;
  margin: 5vh auto;
  display: flex;
  font-size: 20px;
  background-color: transparent;

  &--small {
    margin: 5vh auto;
  }
}

.player {
  margin: 5vh auto;
  display: flex;
  background-color: transparent;

  &--small {
    margin: 5vh auto;
  }
}
